<!-- ============================================
; Title: Assignment 9.2
; Author: Professor Krasso
; Modified: Micah Connelly
; Date: 10/3/2020
; Description: 9.2
=========================================== -->

<%- include("header") %>
<%- include("navbar") %>

<!--Container-->
<div role="main" class="container">
    <h2>EMPLOYEE</h2>
    <br />
    <div>

        <h2 class="text-success"><%= employee[0].firstName %>'s Information:</h2>

        <div class="form-group text-white">

            <label for="txtFirstName">First Name:</label>
            <input type="text" class="form-control" id="txtFirstName" name="txtFirstName" readonly
                value="<%= employee[0].firstName %>" />

            <label for="txtLastName">Last Name:</label>
            <input type="text" class="form-control" id="txtLastName" name="txtLastName" readonly
                value="<%= employee[0].lastName %>" />

            <label for="txtTitle">Title</label>
            <input type="text" class="form-control" id="txtTitle" name="txtTitle" readonly
                value="<%= employee[0].title %>" />

            <br />

        </div>
    </div>
    <br />
    <br />

    <button class="btn btn-primary" href="/">Back</button>

</div>


<%- include("scripts") %>
<%- include("footer") %>